/* ===== BASE - Reset, Variables, Typographie ===== */

body {
  margin: 0;
  padding: 0;
  background: #faf6ff;
  font-family: "Inter", sans-serif;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none !important;
}

